@{
    ViewData["Title"] = "Predictor";
}

@model Accident

@* This page allows users to enter data that they can then submit to get a predicted severity for a crash. *@

<form method="post" asp-controller="Inference" asp-action="Prediction" class="row">

    <div class="col-4">

        <label class="m-2 p-2">Motorcycle involved:</label>
        <select name="motorcycle" class="m-2 p-1" style="justify-content: right; float: right">
            <option value="0.0">FALSE</option>
            <option value="1.0">TRUE</option>
        </select>
        <br />

        <label class="m-2 p-2">Pedestrian involved:</label>
        <select name="pedestrian" class="m-2 p-1" style="justify-content: right; float: right">
            <option value="0.0">FALSE</option>
            <option value="1.0">TRUE</option>
        </select>
        <br />

        <label class="m-2 p-2">Overtern/rollover:</label>
        <select name="overturn" class="m-2 p-1" style="justify-content: right; float: right">
            <option value="0.0">FALSE</option>
            <option value="1.0">TRUE</option>
        </select>
        <br />

        <label class="m-2 p-2">Bicyclist involved:</label>
        <select name="bicycle" class="m-2 p-1" style="justify-content: right; float: right">
            <option value="0.0">FALSE</option>
            <option value="1.0">TRUE</option>
        </select>

    </div>

    <div class="col-4">

        <label class="m-2 p-2">Unrestrained:</label>
        <select name="unrestrained" class="m-2 p-1" style="justify-content: right; float: right">
            <option value="0.0">FALSE</option>
            <option value="1.0">TRUE</option>
        </select>
        <br />

        <label class="m-2 p-2">Intersection-related:</label>
        <select name="intersection" class="m-2 p-1" style="justify-content: right; float: right">
            <option value="0.0">FALSE</option>
            <option value="1.0">TRUE</option>
        </select>
        <br />

        <label class="m-2 p-2">DUI:</label>
        <select name="dui" class="m-2 p-1" style="justify-content: right; float: right">
            <option value="0.0">FALSE</option>
            <option value="1.0">TRUE</option>
        </select>
        <br />

    </div>

    <div class="col-4">

        <label class="m-2 p-2">At night/dark conditions:</label>
        <select name="night" class="m-2 p-1" style="justify-content: right; float: right">
            <option value="0.0">FALSE</option>
            <option value="1.0">TRUE</option>
        </select>
        <br />

        <label class="m-2 p-2">Roadway departure:</label>
        <select name="roadwaydeparture" class="m-2 p-1" style="justify-content: right; float: right">
            <option value="0.0">FALSE</option>
            <option value="1.0">TRUE</option>
        </select>
        <br />

        <label class="m-2 p-2">Single vehicle:</label>
        <select name="singlevehicle" class="m-2 p-1" style="justify-content: right; float: right">
            <option value="0.0">FALSE</option>
            <option value="1.0">TRUE</option>
        </select>
        <br />

        <button type="submit" class="btn btn-primary float-right m-2 p-1" style="background-color: rgb(81, 107, 82);">Make prediction</button>

    </div>

</form>
