@{
    ViewData["Title"] = "Predicted Severity";
}

@model INTEX2.Models.Prediction

@* This page displays the predicted severity of a crash based on the inputs given from the EnterData form. *@

<div style="margin:auto">

    <h1>Predicted severity: @Model.PredictedValue</h1>

    <a asp-controller="Inference" asp-action="EnterData" class="btn m-2 p-1 text-white" style="background-color: rgb(81, 107, 82);">Back to predictor</a>

</div>