@page "/admin/accidents"
@page "/admin"
<!--inherits repository-->

@inherits OwningComponentBase<INTEX2.Models.IAccidentsRepository>

<table class="table table-sm table-striped table-bordered">

    <thead>
        <tr>
            <th>Crash ID</th>
            <th>Crash Date Time</th>
            <th>Route</th>
        </tr>
    </thead>

    @if (AccidentData?.Count() > 0)
    {
        //List the accidents
        @foreach (INTEX2.Models.Accident a in AccidentData)
        {
            <tr>
                <td>@a.CRASH_ID</td>
                <td>@a.CRASH_DATETIME</td>
                <td>@a.ROUTE</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5" class="text-center">No Accidents</td>
        </tr>
    }
</table>

@code {

    public INTEX2.Models.IAccidentsRepository repo => Service;

    public IEnumerable<INTEX2.Models.Accident> AccidentData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }
    public async Task UpdateData()
    {
        AccidentData = await repo.mytable.ToListAsync();
    }

}
