@inherits LayoutComponentBase

<head>
    <link rel="icon" type="image/x-icon" href="~/img/lovepik-car-icon-png-image_401452256_wh1200.png" />

</head>

<div class="text-white p-2" style="background-color: rgb(81, 107, 82);">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <span class="navbar-brand m-lg-2">Utah Motor Vehicle Collision Administration Page</span>
            </div>
            <div class="col-2 text-right">
                <a class="btn btn-sm btn-dark" href="/account/logout">Log Out</a>
            </div>
        </div>
    </div>


</div>

<div class="container-fluid">

    <div class="col">
        @Body
    </div>

</div>