@{
    ViewData["Title"] = "Accidents";
}

@model AccidentsViewModel

<ol>
    @foreach (var a in Model.mytable)
    {
        <li>@a.CRASH_ID @a.CITY</li>
    }
</ol>

<div page-model="@Model.PageInfo" page-action="Accidents"></div>