@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Utah Motor Vehicle Collision Report</h1>
</div>

<p>This website is meant to be used as a resource for lawmakers in Utah to better understand the causes and other relevant
    information concerning motor vehicle collisions in Utah. At the top of each page, there is a navigation bar with links
    to other helpful pages. A brief description of each of these pages is shown below:
    <ul>
        <li>Accidents</li>
        <ul>
            <li>
                This page contains a list of motor vehicle accidents from the years 2016, 2017, and 2019 containing pertinent 
                information such as... [ADD INFO HERE]
            </li>
        </ul>
        <li>Predictor</li>
        <ul>
            <li>
                This page contains a tool that has been created using machine learning and data analytics to predict the 
                likelihood that an accident is likely to occur based on a variety of factors.
            </li>
        </ul>
        <li>Admin</li>
        <ul>
             <li>
                This page contains a page that allows users with administrative priveleges to add, edit, and delete 
                accident data from the database.
             </li>
        </ul>
    </ul>
</p>

<p>We hope that this page will prove to be a helpful resource for lawmakers in Utah and that together, we can decrease the
    number of lives lost from motor vehicle collision in Utah. Included below is a video explaining the recent uptick in
    "wrong-way" crashes on Utah freeways, which is a result of impaired and distracted driving.</p> <br />

<div class="text-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/67egTox_XOk" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>